.row, .col-10, .col-2, #add, .col-1, .col-9, .noPadding,
.col-6, .col-8, .col-5, .col-sm-4, .col-sm-2, .col-3, .col-4, .col-10
{
    margin: 0;
    padding: 0;
}

.time
{
    display: block;
    text-align: right;
    
}

.block
{
    border-bottom: 1px solid #eee;
    padding: 10px 10px 5px;
}

#search
{
   width: 90%;
}

.block a, .block p
{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
    
}

#index .contain
{
    border-right: 1px solid #000;
    padding: 0;
}

.main
{
    margin-top: 60px;
}

.copy
{
    /*float: right;*/
    background-color: #fff;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.col-2
{
    background-color: #fff;
}

.btn-primary:hover,.btn-primary:focus,.btn-primary:active, 
.btn-primary:active:focus:not(:disabled):not(.disabled),
.btn:focus, .btn:active, .btn:hover{
    box-shadow: none!important;
    outline: 0;
}

.qr
{
    padding: 10px;
    border-left: 1px solid #999;
}

#add, #add_page
{
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-right: none;
    border-radius: 15px;
    width: 120px;
    font-size: 18px;
    height: 30px;
    overflow: hidden;
    background-color: #007bff;
    z-index: 2 !important;
}

#add svg
{
    float: right;
}

#add_page
{
    background-color: #fff;
    border: 5px solid #007bff;
}

#popup
{
    position: fixed;
    top: -50px;
    text-align: center;
    width: 100%;
}

#popup p
{
    background-color: #000;
    color: #ddd;
    width: 200px;
    margin: 0 auto;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
}

.add_title
{
    font-size: 25px;
}

#add_page p
{
    text-align: center;
}

#add_page button
{
    display: block;
    margin: 0 auto;
}

.form-group
{
    display: block;
    width: 60%;
    margin: 0 auto;
}

#qr_code, .qr-code, #qr_code2
{
    position: fixed;
    top: 10px;
    right: 10px;
    border-right: none;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: 1 !important;
}

#esc
{
    position: fixed;
    top: 10px;
    right: 10px;
    border-right: none;
    z-index: 2 !important;
    display: none;
}

.navbar
{
    z-index: 1 !important;
}

.nav-icon
{
    background-color: #f8f9fa;
}

#noMatch
{
    margin: 30px;
}

.btn-default
{
    background-color: #fff;
}

#delConfirm
{
    z-index: 3!important;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#delConfirm div
{
    border: 5px solid #007bff;
    border-radius: 20px;
    background-color: #fff;
    padding: 30px;
}

/* width */
::-webkit-scrollbar {
  width: 0;
}

#forCopy
{
    position: fixed;
    top: -20%;
}

/*---------------------------------------------------------------------------------
----------------------------------- Login -----------------------------------------
---------------------------------------------------------------------------------*/

#login #loginBtn, #register #registerBtn
{
    display: block;
    width: 50%;
    margin: auto;
}

form div
{
    width: 30%;
    margin: auto;
}

#login #register a, #register #login a
{
    display: block;
    text-align: center;
}

#login main, #register main
{
    width: 50%;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#login p, #register p
{
    text-align: center;
}


@media screen and (max-width: 1024px)
{
    #login main, #register main
    {
        width: 80%;
        top: 30%;
    }
    form div
    {
        width: 50%;
    }
};

@media screen and (max-width: 768px)
{
    #index .contain
    {
        border-right: none;
    }
    form div
    {
        width: 100%;
    }
};

